# Python Dictionaries

In [3]:
# dictionaries 
data_1 = {
    "id":2,
    "name":"Wajahat Muhammad",
    "course":"AI",
    "admission_date":"2019-12-15",
    "DOB":'29-04-1995'
}
print(data_1)

{'id': 2, 'name': 'Wajahat Muhammad', 'course': 'AI', 'admission_date': '2019-12-15', 'DOB': '29-04-1995'}

In [5]:
skills = ['Python']
data = {}
data['id'] = input("Enter Id: ")
data['name'] = input("Enter Name: ")
new_skills = input("Enter new Skills")
skill = list(new_skills.split())
data['skills'] = skills+skill
print(data)

Enter Id: 1
Enter Name: Wajahat Muhammad
Enter new SkillsJava,C,C++
{'id': '1', 'name': 'Wajahat Muhammad', 'skills': ['Python', 'Java,C,C++']}

In [6]:
# dictionaries 
data_1 = {
    "id":2,
    "name":"Wajahat Muhammad",
    "course":"AI",
    "admission_date":"2019-12-15",
    "DOB":'29-04-1995'
}

In [8]:
data_1.clear()
data_1

{}

In [12]:
# dictionaries 
data_1 = {
    "id":2,
    "name":"Wajahat Muhammad",
    "course":"AI",
    "admission_date":"2019-12-15",
    "DOB":'29-04-1995'
}
print(data_1)
del(data_1)
print(data_1)

{'id': 2, 'name': 'Wajahat Muhammad', 'course': 'AI', 'admission_date': '2019-12-15', 'DOB': '29-04-1995'}

NameError: name 'data_1' is not defined

In [14]:
# dictionaries 
data_1 = {
    "id":2,
    "name":"Wajahat Muhammad",
    "course":"AI",
    "admission_date":"2019-12-15",
    "DOB":'29-04-1995'
}
# Deep copy 
# Shallow copy 
print(data_1)
data_2 = data_1.copy()
data_2['id'] = 1000
print(data_1)
print(data_2)

{'id': 2, 'name': 'Wajahat Muhammad', 'course': 'AI', 'admission_date': '2019-12-15', 'DOB': '29-04-1995'}
{'id': 2, 'name': 'Wajahat Muhammad', 'course': 'AI', 'admission_date': '2019-12-15', 'DOB': '29-04-1995'}
{'id': 1000, 'name': 'Wajahat Muhammad', 'course': 'AI', 'admission_date': '2019-12-15', 'DOB': '29-04-1995'}

In [15]:
# dictionaries 
data_1 = {
    "id":2,
    "name":"Wajahat Muhammad",
    "course":"AI",
    "admission_date":"2019-12-15",
    "DOB":'29-04-1995'
}

In [16]:
list1 = ['id','name','course','timing','address','DOB']
print(list1)

['id', 'name', 'course', 'timing', 'address', 'DOB']

In [22]:
data = dict.fromkeys(list1)
print(data)

{'id': None, 'name': None, 'course': None, 'timing': None, 'address': None, 'DOB': None}

In [9]:
list1 = (input().split(","))
print(list1)

id,name,course,address,timing,DOB
['id', 'name', 'course', 'address', 'timing', 'DOB']
{'id': None, 'name': None, 'course': None, 'address': None, 'timing': None, 'DOB': None}

In [12]:
data = dict.fromkeys(list1,"NAN")
print(data)

{'id': 'NAN', 'name': 'NAN', 'course': 'NAN', 'address': 'NAN', 'timing': 'NAN', 'DOB': 'NAN'}

In [13]:
list_keys = input().split(',')

id,name,course,timing

In [14]:
list_values = input().split(',')

1,Wajahat,Python,9:00am

In [35]:
data = dict(zip(list_keys,list_values))
print(data)

{'id': '1', 'name': 'Wajahat', 'course': 'Python', 'timing': '9:00am'}

In [42]:
data.get('v','Value is not available') # if key available then extract it, error will not

'Value is not available'

In [43]:
print(data)

{'id': '1', 'name': 'Wajahat', 'course': 'Python', 'timing': '9:00am'}

In [44]:
print(data.get("id1", "Value not available !"))

Value not available !

In [46]:
data.items()

dict_items([('id', '1'), ('name', 'Wajahat'), ('course', 'Python'), ('timing', '9:00am')])

In [47]:
data.keys()

dict_keys(['id', 'name', 'course', 'timing'])

In [48]:
data.values()

dict_values(['1', 'Wajahat', 'Python', '9:00am'])

In [50]:
# We provide key and it returns the value against value.
data.pop('id')

'1'

In [64]:
# data.popitems()
d1 = {'a':1, 'b':2}
print(d1)
d1.setdefault('abc1','xyz')
print(d1)

{'a': 1, 'b': 2}
{'a': 1, 'b': 2, 'abc1': 'xyz'}

In [65]:
d1 = {'a':'AA', 'b':'BB'}
d2 = {'a':'AAAA', 'c':'CCCC'}
d1.update(d2)
d1

{'a': 'AAAA', 'b': 'BB', 'c': 'CCCC'}

In [71]:
l1 = input().split(',')

a,b,c,d,e,f,g,h,i,j

In [72]:
l2 = input().split(',')

1,2,3,4,5,6,7,8,9,10

In [75]:
data = dict(zip(l1,l2))
data

{'a': '1',
 'b': '2',
 'c': '3',
 'd': '4',
 'e': '5',
 'f': '6',
 'g': '7',
 'h': '8',
 'i': '9',
 'j': '10'}

In [128]:
d1 = {'a':1, 'b':5,'c':3}
d2 = {}
for k,v in sorted(d1.items(), key=lambda x:x[1], reverse=True):
    d2[k] = v
print(d2)

{'b': 5, 'c': 3, 'a': 1}

In [142]:
d1 = {'a':1, 'b':5,'c':3}
print(d1)

{'a': 1, 'b': 5, 'c': 3}

In [144]:
{ k:v for k,v in sorted(d1.items(), key=lambda x:x[1], reverse=True) }

{'b': 5, 'c': 3, 'a': 1}

In [152]:
def get_values():
    data['id']=input('ID :')
    data['name']=input('Name :')
    data['course']=input('Course :')
    data['skill']=input('Skills :').split()
    return data
x=''
lists=[]
while x != 'x':
    info = get_values()
    lists.append(info) 
    x = input('To exit enter X :').lower()

ID :1
Name :W
Course :P
Skills :Jaca
To exit enter X :
ID :2
Name :T
Course :P
Skills :C#
To exit enter X :x
[{'a': '1', 'b': '2', 'c': '3', 'd': '4', 'e': '5', 'f': '6', 'g': '7', 'h': '8', 'i': '9', 'j': '10', 'id': '2', 'name': 'T', 'course': 'P', 'skill': ['C#']}, {'a': '1', 'b': '2', 'c': '3', 'd': '4', 'e': '5', 'f': '6', 'g': '7', 'h': '8', 'i': '9', 'j': '10', 'id': '2', 'name': 'T', 'course': 'P', 'skill': ['C#']}]

In [153]:
print(lists)

[{'a': '1', 'b': '2', 'c': '3', 'd': '4', 'e': '5', 'f': '6', 'g': '7', 'h': '8', 'i': '9', 'j': '10', 'id': '2', 'name': 'T', 'course': 'P', 'skill': ['C#']}, {'a': '1', 'b': '2', 'c': '3', 'd': '4', 'e': '5', 'f': '6', 'g': '7', 'h': '8', 'i': '9', 'j': '10', 'id': '2', 'name': 'T', 'course': 'P', 'skill': ['C#']}]