# Python Functions

In [1]:
def my_func():
    print('This is a function !')

In [2]:
my_func()

This is a function !

# Predefined Function
90
Already builtin functions

In [3]:
print('abc')
print(len('sjdkfhsj'))
print(type(22))
print(id('aa'))

abc
8
<class 'int'>
2290312349808

# User defined Function

Functions that a programmer write to do specfic tasks.

In [4]:
print('Pakistan Zinda Bad')
print('We are Pakistani')
print('We love our country')

Pakistan Zinda Bad
We are Pakistani
We love our country

In [5]:
# Defineing a function ! 

def pakistani():
    print('Pakistan Zinda Bad')
    print('We are Pakistani')
    print('We love our country')

In [6]:
# Calling a function !
pakistani()

Pakistan Zinda Bad
We are Pakistani
We love our country

# Required Arguments

In [12]:
def id_card(stud_id, stud_name, father_name, course, timing):
    text = """
    PIAIC Islamabad
    ID : {}
    Name : {}
    Father's Name : {}
    Courses : {}
    Timing : {}
    """.format(stud_id, stud_name, father_name, course, timing)
    print(text)

In [15]:
id_card(1,"Wajahat", "Muhammad Shah", "AI for EveryOne", "9 to 12")
id_card(2,"Haider Ali", "Muhammad Ali", "AI for EveryOne", "9 to 12")

    PIAIC Islamabad
    ID : 1
    Name : Wajahat
    Father's Name : Muhammad Shah
    Courses : AI for EveryOne
    Timing : 9 to 12


    PIAIC Islamabad
    ID : 2
    Name : Haider Ali
    Father's Name : Muhammad Ali
    Courses : AI for EveryOne
    Timing : 9 to 12

In [21]:
data = [
    [1,"Wajahat","Muhammad Shah", "AI for EveryOne", "9 to 12"],
    [2,"Haider Ali","Muhammad Ali", "AI for EveryOne", "9 to 12"],
    [3,"Talha Ahmed","Muhammad Shah", "AI for EveryOne", "9 to 12"],
    [4,"Wahaj Muhammad","Muhammad Shah", "AI for EveryOne", "9 to 12"],
    [5,"Syed Zain Ali","Muhammad Zafar Iqbal", "AI for EveryOne", "9 to 12"],
]
for r in data:
    id_card(*r)

# try:
#     id_card()
# except TypeError:
#     print("Arguments are Missing")

    PIAIC Islamabad
    ID : 1
    Name : Wajahat
    Father's Name : Muhammad Shah
    Courses : AI for EveryOne
    Timing : 9 to 12


    PIAIC Islamabad
    ID : 2
    Name : Haider Ali
    Father's Name : Muhammad Ali
    Courses : AI for EveryOne
    Timing : 9 to 12


    PIAIC Islamabad
    ID : 3
    Name : Talha Ahmed
    Father's Name : Muhammad Shah
    Courses : AI for EveryOne
    Timing : 9 to 12


    PIAIC Islamabad
    ID : 4
    Name : Wahaj Muhammad
    Father's Name : Muhammad Shah
    Courses : AI for EveryOne
    Timing : 9 to 12


    PIAIC Islamabad
    ID : 5
    Name : Syed Zain Ali
    Father's Name : Muhammad Zafar Iqbal
    Courses : AI for EveryOne
    Timing : 9 to 12

# Optional Arguments

In [27]:
# We have Assigned the default valuse for y and z !

def abc(x,y=0,z=0):
    print(x+y+z)
    
abc(5)

5

In [28]:
abc(5,7)

12

In [29]:
abc(10,5,15)

30

# Return Function

In [57]:
def new():
    return "Qasim","Wajahat","Ali"

In [61]:
result = new()
print(result[2])

Ali

In [62]:
def abc(x=0,y=0,z=0):
    return (x+(y*z))

In [66]:
print(abc())

0

In [67]:
print(abc(1,2,3))

7

# KeyWord Arguments

In [93]:
# def my_function(*arwgs,**karwgs):
#     return arwgs, karwgs
def new_func(id, timing,name=None):
    return id,name,timing

In [95]:
result = new_func(1,"9 to`12",name="Wajahat Muhammad")
print(result)

(1, 'Wajahat Muhammad', '9 to`12')

# Arguments with List

In [96]:
def id_card(stud_id, stud_name, father_name, course, timing):
    text = """
    PIAIC Islamabad
    ID : {}
    Name : {}
    Father's Name : {}
    Courses : {}
    Timing : {}
    """.format(stud_id, stud_name, father_name, course, timing)
    print(text)

In [97]:
data = [
    [1,"Wajahat","Muhammad Shah", "AI for EveryOne", "9 to 12"],
    [2,"Haider Ali","Muhammad Ali", "AI for EveryOne", "9 to 12"],
    [3,"Talha Ahmed","Muhammad Shah", "AI for EveryOne", "9 to 12"],
    [4,"Wahaj Muhammad","Muhammad Shah", "AI for EveryOne", "9 to 12"],
    [5,"Syed Zain Ali","Muhammad Zafar Iqbal", "AI for EveryOne", "9 to 12"],
]
for value in data:
    id_card(*value)

    PIAIC Islamabad
    ID : 1
    Name : Wajahat
    Father's Name : Muhammad Shah
    Courses : AI for EveryOne
    Timing : 9 to 12


    PIAIC Islamabad
    ID : 2
    Name : Haider Ali
    Father's Name : Muhammad Ali
    Courses : AI for EveryOne
    Timing : 9 to 12


    PIAIC Islamabad
    ID : 3
    Name : Talha Ahmed
    Father's Name : Muhammad Shah
    Courses : AI for EveryOne
    Timing : 9 to 12


    PIAIC Islamabad
    ID : 4
    Name : Wahaj Muhammad
    Father's Name : Muhammad Shah
    Courses : AI for EveryOne
    Timing : 9 to 12


    PIAIC Islamabad
    ID : 5
    Name : Syed Zain Ali
    Father's Name : Muhammad Zafar Iqbal
    Courses : AI for EveryOne
    Timing : 9 to 12

# Arguments with Dictionary

In [98]:
def id_card(stud_id, stud_name, father_name, course, timing):
    text = """
    PIAIC Islamabad
    ID : {}
    Name : {}
    Father's Name : {}
    Courses : {}
    Timing : {}
    """.format(stud_id, stud_name, father_name, course, timing)
    print(text)

In [107]:
data = {'stud_id':1,'stud_name': "wajahat",'father_name':"Muhammad Shah", 'course' : "AI", 'timing': "9 to 12"}
id_card(**data)

    PIAIC Islamabad
    ID : 1
    Name : wajahat
    Father's Name : Muhammad Shah
    Courses : AI
    Timing : 9 to 12

# Recursive Functions

In [112]:
# Factorial Function
def abc(n):
    if n == 1:
        return 1
    return n*abc(n-1)

In [113]:
abc(5)

120

# Generator Functions

Generator function remembers the old value and doest not allocate all values to memory.

In [119]:
def abc():
    for i in range(11):
        yield i

a = abc()
print(a)
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))  
print(list(a))

<generator object abc at 0x00000215426D00C8>
0
1
2
3
4
5
[6, 7, 8, 9, 10]

# Lambda Function
- No Name
- Single line function
- Used only on that line

In [127]:
# def xyz(a,b):
#     return a+b

In [138]:
xyz = lambda a,b : a+b
xyz = lambda x,y : x>y 
print(xyz(1,2))

False